/* ===========================
   Non-web > 1660px)
   Tablets / Laptops pequeños
   Ajustes para pantallas medianas
=========================== */
@media (min-width: 1660px) {
    .principal-section {
        margin-top: 63px;
        height: 92.5vh;
    }
    .principal-section#dashboard {
        max-height: none;
        height: unset;
    }

    .sidebar{
        position: sticky;
        top: 63px;
        align-self: start;
    }

    .header-container{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .spacer-header {
        height: 63px;
    }

}

/* ===========================
   Non-web > 1440px)
   Tablets / Laptops pequeños
   Ajustes para pantallas medianas
=========================== */
@media (min-width: 1440px) {
    .reportes-chart {
        max-height: 200px;
    }
  
    .video-educacion-container,
    .video-educacion {
    max-width: 100% !important;
    width: 100% !important;
    height: auto !important;
    object-fit: contain !important;
    }

    /* Asegurá que todos los padres también limiten el overflow */
    #video-tutorial,
    #video-tutorial .card {
    max-width: 100%;
    }

    .padre-flex {
        display: flex;
        flex-wrap: wrap;       /* ← clave para que no desborde */
        max-width: 100%;
    }
}


/* ===========================
   Non-web (≤991px)
   Tablets / Laptops pequeños
   Ajustes para pantallas medianas
=========================== */
@media screen and (max-width: 991px) {

    /* Oculta la barra lateral para maximizar el espacio en pantalla */
    .sidebar {
        display: none;
    }
    
   .principal-main {
        grid-template-columns: auto;
   }

   .principal-section {
        max-height: none;
    }

    /* Se muestra el menú del encabezado para navegación alternativa */
    .header-menu {
        display: unset;
        height: 1.5rem;
    }

    /* Se cambia el logo por uno optimizado para mobile */
    .header-logo-img {
        content: url('../images/barraDeNavegacion/nombre_inicial_mobile.png');
        height: 5vh;
    }


    /* Espaciado alrededor de tarjetas para mejor visualización */
    .content .card {
        justify-content: space-around;
    }

    /* Se cambia la tabla por layout tipo columna para mejor legibilidad en pantallas medianas */
    .ingresos-gastos-table {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    /* Se ajustan los gráficos a tamaño relativo a la pantalla */
    .metas-chart {
        height: auto;
        width: 60vw;
    }

    /* Se incrementa tamaño de fuente de la tabla de metas */
    .metas-table {
        font-size: 4vw;
    }

    /* Se incrementa tamaño de fuente de la tabla de inversiones */
    .inversiones-table {
        font-size: 3vw;
    }

    /* Gráfico de inversiones ocupa mayor parte de la pantalla */
    .inversiones-chart {
        width: 80vw;
    }

    .movimientos-table th:first-child, .movimientos-table  td:first-child {
        display: none;
    }

    .card#ingresos-gastos-card{
        height: 100vh;
    }

    .card#inversiones-card-table{
        height: 60vh;
    }

    .card#reportes-estadisticas-container, 
    .card#historial-container,
    .card#exportar-container,
    .card#configuracion-container {
        overflow-y: auto;
    }

    .video-educacion {
        width: 100%;
        height: auto;
    }

    #video-tutorial {
        padding: 1rem;
    }

    #video-tutorial .subtitle {
        font-size: 1rem;
    }
}


/* ========================================================
        Tablets (769px a 1024px)
        Pantallas medianas
        Ajuste de tipografía y espaciado
======================================================== */
@media (min-width: 769px) and (max-width: 1024px){
    .progreso-meta {
        padding: 1.2rem;
    }
    .progreso-meta label {
        font-size: 1.2rem; 
    }
    .meta-porcentaje {
        font-size: 1rem;
    }
}


/* ========================================================
        Móviles y Tablets pequeñas (<= 768px)
        Adaptación para espacio reducido
======================================================== */
@media (max-width: 768px) {
    .progreso-meta {
        padding: 0.8rem;
    }

    .progreso-meta label {
        font-size: 0.95rem;
    }

    .meta-porcentaje {
        font-size: 0.85rem;
    }

    .metas-chart{
        display: none;
    }

    .card#metas-card-graph{
        gap:0.1rem
    } 

}


/* ===========================
   Mobile (≤768px)
   Tablets chicas / Smartphones grandes
   Optimización para navegación táctil
=========================== */
@media screen and (max-width: 767px) {

    /* Elimina scroll horizontal innecesario */
    html, body {
        overflow-x: hidden;
    }

    /* Se agrega separación vertical entre tarjetas */
    .card {
        gap: 5vh;
    }

    /* Ajuste de tamaño del logo de login para pantallas pequeñas */
    .login-logo-container img {
        height: auto;
        width: 50vw;
    } 

    /* Ajusta subtítulo del login para legibilidad en pantallas pequeñas */
    .login-section .subtitle {
        font-size: 6vw;
    }

    .login-logo {
        padding: unset;
    }


    /* Gráfico del dashboard se adapta a ancho de pantalla */
    .dashboard-chart {
        height: auto;
        width: 50vw;
    }



    /* Las barras ocupan todo el ancho disponible */
    .gastos-bars .bar {
        width: 100%;
    }


    /* Se eliminan paddings del formulario para más espacio útil */
    .form-grid {
        padding: unset;
    }
}


/* ===========================
   Mobile (≤615px)
   Smartphones medianos
   Mejora de stacking y padding
=========================== */
@media screen and (max-width: 615px) {

    /* Agrupación de checkboxes en columna para evitar desbordes horizontales */
    .checkbox-group {
        flex-direction: column;
        gap: 0.5rem;
        padding: 0 3rem;
    }

    /* Elimina padding innecesario en secciones centrales */
    .block-center {
        padding: unset;
    }
}


/* ===========================
   Mobile (≤480px)
   Smartphones pequeños
   Ajustes finales de los checks
=========================== */
@media screen and (max-width: 480px) {

    /* Agrupación de radios en columna para evitar desbordes horizontales */
    .radio-group {
        display: flex;
        grid-template-columns: unset;
        justify-content: space-around;
    }

    .radio-group label {
        font-size: 4vw;
    }

    .horizontal{
        width: 2.25vw;
        height: 2.25vw;
    }
    
    .table-csm{
        font-size: 0.8rem;
    }
    .pref-group label {
        font-size: 0.8rem;
    }
}


/* ===========================
   Mobile (≤472px)
   Smartphones pequeños
   Ajustes finales de inputs
=========================== */
@media screen and (max-width: 472px) {

    /* Inputs del formulario se ajustan a un ancho manejable para pantallas pequeñas */
    .form-grid .form-group .input {
        width: 40vw;
    }

    p {
      margin: 0;  
    }

    .checkbox-group{
        padding: 0 1.5rem;
    }

    .form-row .input {
        font-size: 0.7rem;
    }

}
