/* ===========================
   Non-web (≤1024px)
=========================== */
@media screen and (max-width: 1024px) {
    .sidebar {
        display: none;
    }

    .header-menu {
        display: unset;
        height: 1.5rem;
    }

    .header-logo-img {
        content: url('../images/barraDeNavegacion/nombre\ inicial\ mobile.png');
        height: 5vh;
    }

    .principal-container {
        grid-template-columns: auto;
    }

    .content .card {
        justify-content: space-around;
    }

    .ingresos-gastos-table {
        font-size: 3vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .metas-chart {
        height: auto;
        width: 60vw;
    }

    .metas-table {
        font-size: 4vw;
    }

    .inversiones-table {
        font-size: 3vw;
    }

    .inversiones-chart {
        width: 80vw;
        height: auto;
    }
}

/* ===========================
   Mobile (≤768px)
=========================== */
@media screen and (max-width: 768px) {
    
    html, body {
        overflow-x: hidden;
    }

    .card {
        gap: 5vh;
    }

    .login-logo-container img {
        height: auto;
        width: 50vw;
    } 

    .login-form-container {
        margin: unset;
        padding: unset;
    }

    .login-section .subtitle {
        font-size: 6vw;
    }

    .login-logo {
        padding: unset;
    }

    .inputs-container .input,
    .buttons-container .btn {
        font-size:4vw;
    }

    .resumen-grid {
        display: flex;
        flex-direction: column;
    }

    /*Saco este label en mobile para no sobrecargar la pantalla del usuario*/
    .resumen-grid .resumen-left .card{
        display: none;
    }

    .dashboard-chart {
        height: auto;
        width: 80vw;
    }

    /* .gastos-ingresos-form-container .radio-group {
        display: flex;
        flex-direction: column;
    } */

    /* .gastos-ingresos-form-container .form-grid {
        display: flex;
        flex-direction: column;
        padding: unset;
        gap: unset;
    } */

    .gastos-indicadores {
        display: none;
    }

    .gastos-bars .bar {
        width: 100%;
    }

    .gastos-bars {
        width: 40vw;
    }

    .gastos-grid {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }

    .form-grid {
        padding: unset;
    }
}

/* ===========================
Mobile (≤615px)
=========================== */
@media screen and (max-width: 615px) {
    .checkbox-group {
        flex-direction: column;
        gap: unset;
        padding: 0 3rem;
    }

    .block-center {
        padding: unset;
    }
}

/* ===========================
Mobile (≤472px)
=========================== */
@media screen and (max-width: 472px) {
    .form-grid .form-group .input {
        width: 40vw;
    }

}
